@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-top: 20px;
}

.section-products .header h1 {
  font-size: 70px;
  color: #FE6240;
  font-weight: 500px;
}

.section-products .header h3 {
    color: #444444;
    font-size: 22px; 
}

.card {
    box-shadow: 0 4px px 0 #444444;
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

.card h4 {
  color: #6e5773;
}

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #d45079;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .paginacion {
    font-size: 22px; 
    padding-bottom: 20px;
  }