body {
    background: #ffe25f;
    background: linear-gradient(to right, #ffa751, #ffe259);
    padding-top: 50px;
}

.bg {
    background-image: url(/static/img/Dog_img.jpg);
    background-position: center center;
}

.registrar {
    text-decoration: none;
    color: #d45079;
    font-weight: 600;
}

.volver_home {
    text-decoration: none;
    color: #d45079;
    font-weight: 600;
}

.d-grid .btn {
    background-color: #d45079;
    border-color: #d45079;
}

.d-grid .btn:hover {
    background-color: #ac3e61;
    border-color: #ac3e61;
}

.registrar:hover {
    color: #812f49;
}

.volver_home:hover {
    color: #812f49;
}