<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peludos Petshop - La mejor tienda para tu mascota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/menuPrincipal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/boton_whatsapp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/lista_productos.css' %}">
</head>

<body>

    {% include "peludos_petshop/navbar.html" %}

    <section class="home" id="home">
        <div class="container-fluid">
            <div class="content">
                <h3>Encuentra</h3>
                <span> lo mejor para tu mascota </span>
                <p>La tienda ideal para tí y para tu mascota. Encontraras una gran variedad de productos para tu mascota
                    y a un
                    buen precio. <br>
                    ¡No lo dudes!.</p>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading"> <span> Disponemos productos </span> para estas mascotas </h1>
        <div class="container">
            <div class="row">
                {% for m in mascotas %}
                <div class="card" style="border: none; max-width: 250px;">
                    {% if m.fotoMascota %}
                    <img src="{{ m.fotoMascota.url }}" width="100%" alt="No hay imagen de la mascota">
                    {% endif %}
                    <h2>{{ m.nomTipoMascota | title }}</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading"> <span> Sobre </span> Nosotros </h1>
        <div class="row">
            <div class="content">
                <h3>¿Quienes somos?</h3>
                <p>Somos una empresa encargada de vender alimentos y accesorios para tu mascota, amamos a las mascotas
                    al igual
                    que tú y te venderemos productos de calidad y a buen precio.</p>
                <h3>Nos comprometemos: </h3>
                <p>En entregarte el mejor servicio y atención posible. Porqué para nosotros eres muy importante</p>
            </div>
    </section>

    <section class="icons-container">
        <div class="icons">
            <img src="{% static '/img/icon-1.png' %}" alt="">
            <div class="info">
                <h3>Hacemos envíos</h3>
                <span>a todo Chile</span>
            </div>
        </div>
        <div class="icons">
            <img src="{% static '/img/icon-2.png' %}" alt="">
            <div class="info">
                <h3>Descuentos especiales</h3>
                <span>en nuestros precios</span>
            </div>
        </div>
        <div class="icons">
            <img src="{% static '/img/icon-3.png' %}" alt="">
            <div class="info">
                <h3>Pago protegido</h3>
                <span>podras pagar tus productos de forma segura</span>
            </div>
        </div>
    </section>

    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

    <section class="contact" id="contact" style="margin-bottom: 50px;">
        <h1 class="heading"> <span> ¿Tienes una duda? </span> Contactanos </h1>
        <div class="row">


            <form action="{% url 'registro_contacto' %}" method="POST" id="contact">
                {% csrf_token %}
                <label for="nombre" style="font-size: 18px;">Nombre:</label>
                <input type="text" id="nom_contacto" pattern="[A-Za-z\u00f1\u00d1 ]+"
                    title="Solo se permiten letras y espacios" maxlength="60" required class="box" name="nom_contacto">
                <label for="nombre" style="font-size: 18px;">Correo:</label>
                <input type="email" placeholder="example@domino.algo" id="email"
                    pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                    title="El correo debe ser de la siguiente manera: example@domino.algo" required class="box"
                    name="email">
                <label for="nombre" style="font-size: 18px;">Asunto:</label>
                <input type="text" id="asunto" name="asunto" pattern="[A-Za-z\u00f1\u00d1 ]+"
                    title="Solo se permiten letras y espacios" maxlength="50" required class="box">
                <label for="nombre" style="font-size: 18px;">Mensaje:</label>
                <textarea name="mensaje" class="box" required id="mensaje" name="mensaje" cols="30"
                    rows="10"></textarea>
                <input type="submit" id="send" value="Enviar mensaje" class="btn">
            </form>

            <div class="image">
                <img src="{% static '/img/Contacto.jpg' %}" alt="">
            </div>
        </div>

    </section>

    <!-- API Whatsapp -->
    <a href="https://api.whatsapp.com/send?phone=930991227&text=Hola%20buenas.%20¡Necesito%20de%20su%20ayuda!"
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!-- Fin API Whatsapp -->

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Peludos Petshop</h3>
                <img src="{% static '/img/peludos_petshop_icon.png' %}" alt="Peludos">
            </div>
            <div class="box">
                <h3>Redes sociales</h3>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
            </div>
            <div class="box">
                <h3>Envios</h3>
                <a>Envios a todo Chile</a>
            </div>
            <div class="box">
                <h3>Contacto</h3>
                <a>+56 9 30991227</a>
                <a>peludos_petshop@contacto.cl</a>
                <a>Huechuraba, Chile</a>
            </div>
        </div>
    </section>

</body>

</html>