{% load static %}
<div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <img src="{% static '/img/peludos_petshop_icon.png' %}" alt="Peludos">
            <div class="logo"><a href="{% url 'home' %}">Peludos petshop</a></div>
            <ul class="links">
                <li>
                    <a href="#" class="desktop-link">Perros</a>
                    <input type="checkbox" id="show-perros">
                    <label for="show-perros">Perros</label>
                    <ul>
                        <li><a href="{% url 'alimentos_secos_perro' %}">Alimentos secos</a></li>
                        <li><a href="{% url 'alimentos_humedos_perro' %}">Alimentos húmedos</a></li>
                        <li><a href="{% url 'snack_perro' %}">Snack & premios</a></li>
                        <li><a href="{% url 'juguete_perro' %}">Juguetes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">Gatos</a>
                    <input type="checkbox" id="show-gato">
                    <label for="show-gato">Gatos</label>
                    <ul>
                        <li><a href="{% url 'alimentos_secos_gato' %}">Alimentos secos</a></li>
                        <li><a href="{% url 'alimentos_humedos_gato' %}">Alimentos húmedos</a></li>
                        <li><a href="{% url 'arena_sanitaria_gato' %}">Arenas sanitarias</a></li>
                        <li><a href="{% url 'snack_gato' %}">Snack & premios</a></li>
                        <li><a href="{% url 'juguete_gato' %}">Juguetes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">Otras mascotas</a>
                    <input type="checkbox" id="show-otros">
                    <label for="show-otros">Otras mascotas</label>
                    <ul>
                        <li>
                            <a href="#" class="desktop-link-submenu">Conejos</a>
                            <input type="checkbox" id="show-conejos">
                            <label for="show-conejos">Conejos</label>
                            <ul>
                                <li><a href="{% url 'alimentos_conejo' %}">Alimentos</a>
                                </li>
                                <li><a href="{% url 'accesorios_conejo' %}">Accesorios</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link-submenu">Erizo</a>
                            <input type="checkbox" id="show-erizo">
                            <label for="show-erizo">Erizo</label>
                            <ul>
                                <li><a href="{% url 'alimentos_erizo' %}">Alimentos</a>
                                </li>
                                <li><a href="{% url 'accesorios_erizo' %}">Accesorios</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link-submenu">Hamster</a>
                            <input type="checkbox" id="show-hamster">
                            <label for="show-hamster">Hamster</label>
                            <ul>
                                <li><a href="{% url 'alimentos_hamster' %}">Alimentos</a>
                                </li>
                                <li><a href="{% url 'accesorios_hamster' %}">Accesorios</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link-submenu">Hurones</a>
                            <input type="checkbox" id="show-hurones">
                            <label for="show-hurones">Hurones</label>
                            <ul>
                                <li><a href="{% url 'alimentos_hurron' %}">Alimentos</a>
                                </li>
                                <li><a href="{% url 'accesorios_hurron' %}">Accesorios</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'carrito_de_compras' %}">Carrito</a>
                </li>
                {% if perms.peludos_petshop.view_producto %}
                <li>
                    <a href="{% url 'home_admin' %}">Menú administrador</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="#">@{{ user.username }}</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <label for="show-search" class="search-icon"></label>
    </nav>
</div>