<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/lista_productos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">
    <script>
        function eliminarProducto(id) {
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, estoy seguro",
                "reverseButtons": true,
                "confirmButtonColor": "#ff2400"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "/eliminar/"+id
                }
            })
        }
    </script>
</head>

<body>

    {% include "peludos_petshop/navbar_admin.html" %}

    <section class="section-products">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h1>Listado de producto</h1>
                        <h3 style="font-size: 26px;">Todas las mascotas</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if messages %}
    {% for i in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{i}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

    <div class="container" style="font-size: 20px;">
        {% load humanize %}
        <div class="container">
            <div class="row">
                {% for m in entity %}
                <div class="card">
                    {% if m.fotoProducto %}
                    <img src="{{ m.fotoProducto.url }}" alt="No hay imagen de producto">
                    {% endif %}
                    <h5>{{ m.nomProducto }}</h5>
                    <p class="price">Mascota: {{ m.tipoMascota.nomTipoMascota }}</p>
                    <p class="price">{{ m.tipoProducto.nomTipoProducto }}</p>
                    <p>
                        <a href="{% url 'modificar_productos' m.idProducto  %}">
                            <button type="button" class="btn btn_primary">Modificar producto</button>
                        </a>
                    </p>
                    <p>
                        <a href="#" onclick="eliminarProducto({{m.idProducto}})">
                            <button type="button" class="btn btn-warning">Eliminar producto</button>
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div>
            {% include 'peludos_petshop/paginador.html' %}
        </div>
</body>

</html>